
h1 {
    color: var(--5);
    font-size: 2.5rem;
    /* text-align: center; */
}

h2 {
    color: var(--5);
    font-size: 1.6rem;
    font-weight: normal;
    margin: 0;
    /* text-align: center; */
}

h3 {
    color: var(--5);
    font-size: 1.1rem;
    font-weight: normal;
    margin: 10px 0 0;
    padding: 0;
}

p {
    color: var(--20);
    font-size: 1.1rem;
    margin: 10px 0 0;
    padding: 0;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .logos {
        list-style-type: none;
        position: fixed;
        bottom: 0;
        padding: 10px;
        margin: 0;
        display: flex;
    }
}

.logos {
    list-style-type: none;
    width: 100%;
    bottom: 0;
    padding: 10px;
    margin: 0;
    display: flex;
}


.logo {
    width: 35px;
    margin: 5px;
    filter: brightness(80%);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

main {
    background-color: var(--90);
    padding: 0 30px 30px;
    margin: 30px;
    width: 420px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
}

.about {
    padding: 0;
    margin: 0;
}

.link-container {
    display: flex;
    margin: 60px 0 0;
    /* padding-left: 10px; */
}

.link-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.labels li {
    color: var(--20);
    font-size: 1.1rem;
}

.links a {
    color: var(--5);
    font-size: 1.1rem;
    text-decoration: none;
    padding-left: 25px;
}

.projects {
    color: var(--5);
    margin: 50px 0 0;
}

.projects ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.projects li {
    margin-top: 30px;
}

.projects a {
    color: var(--5);
    text-decoration: none;
    font-size: 1.3rem;
}

.arrow {
    width: 15px;
    margin: 0 10px 0;
    filter: invert() brightness(80%);
}