* {
	--100: #171717;
	--90:  #202020;
	--20:  #a2a2a2;
	--5:   #e3e3e3;
}

body {
  	margin: 0;
	background-color: var(--100);
  	font-family: 'Helvetica Neue', sans-serif;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

code {
  	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    	monospace;
}